@model IEnumerable<SpaceCourse.Models.Lesson>

@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_LayoutNoFooter.cshtml";
}
<link href="~/Content/Style/coursepage.css" rel="stylesheet" />
<div class="body-page">
    <!-- infor -->
    @Html.Action("Header", new { id = ViewBag.Id })
        <div class="content-wrapper">
            <div class="info_wrapper">
                <div class="page_info_content">
                    <input type="button" class="info_content_btn" value="Theo dõi">
                    <div></div>
                </div>
                <div class="page-info_wrap">
                    <div class="page_info page_info_follow"><span><b>Lượt theo dõi</b></span></div>
                    <div class="page_info page_info_view"><span> Lượt xem <b> 594.391 </b> </span></div>
                    <div class="page_info page_info_total"><span>Tổng số bài : <b> 165</b></span></div>
                    <div class="page_info page_info_time"><span>Tổng số giờ :<b> 194 H</b></span></div>
                </div>
            </div>
            <div class="page_stack-test">
                @foreach(var a in Model)
            {
                    <div class="bai1">
                        <div class="stack-test_wrap">
                            <div class="test_wrap-info">
                                <h3>Bài @Html.DisplayFor(m => a.id_lesson)</h3>
                                <div class="test_wrap-info-des">
                                    @Html.DisplayFor(m => a.name_lesson)
                                </div>
                            </div>

                            <div class="test_wrap-loading">
                                <div class="loading-completed_percent">@Html.DisplayFor(m => a.process)%</div>
                            </div>
                            <div class="test_wrap-bar">
                                <div class="test_wrap-inner" style="width: @a.process%"></div>
                            </div>
                            <div class="test_wrap-btn">
                                <input type="button" class="info_HocLai_btn" value="Hoc lai">
                            </div>
                        </div>
                    </div>
            }
            
                
            </div>
            <div class="desc">
                <h3>Javascript là gì?</h3>
                <p>JavaScript, theo phiên bản hiện hành, là một ngôn ngữ lập trình thông dịch được phát triển từ các ý niệm nguyên mẫu. Ngôn ngữ này được dùng rộng rãi cho các trang web (phía người dùng) cũng như phía máy chủ (với Nodejs). Nó vốn được phát triển bởi Brendan Eich tại Hãng truyền thông Netscape với cái tên đầu tiên Mocha, rồi sau đó đổi tên thành LiveScript, và cuối cùng thành JavaScript. Giống Java, JavaScript có cú pháp tương tự C, nhưng nó gần với Self hơn Java. .js là phần mở rộng thường được dùng cho tập tin mã nguồn JavaScript.</p>
                <h3>Bạn sẽ học được những gì từ khóa học này?</h3>
                <ul>
                    <li>Nguyên lý hoạt động cơ bản của Javascript</li>
                    <li>Cách sử dụng Javascript trong HTML</li>
                    <li>Cách để sử dụng Javascript hiệu quả</li>
                </ul>
                <h3>Muốn học nâng cao?</h3>
                <div class="test_wrap-btn flex-wrap">
                    <input type="button" class="info_HocLai_btn" value="Đăng ký premium">
                    <p>Hoặc</p>
                    <input type="button" class="info_HocLai_btn" value="Mua khóa học">
                </div>
            </div>
        </div>
    </div>
    <div class="body-page_stack">
        <!-- head -->
        <div class="page_stack-head">


        </div>
        <!-- test -->

    </div>
</div>
